<div class="auth-container">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="text" name="email" placeholder="Digite seu email" required>
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" required>
    </div>
    <input type="submit" value="Entrar">
    <p>Ainda não possui conta? <a href="/register">Registre-se</a></p>
  </form>

</div>